.container {
  padding: 40px;
}

.seccion-objetivos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fila-objetivos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  width: 100%;
}

.objetivo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
  padding: 15px;
  min-height: 250px;
}

.objetivo p {
  flex-grow: 1;
}

.numero {
  background-color: rgb(8, 95, 99);
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 5px;
}

.vertical-line {
  width: 2px;
  height: 360px;
  background-color: rgb(73, 190, 183);
  margin: 0 20px;
}

/* Media Queries para pantallas más pequeñas */
@media (max-width: 819px) {
  .fila-objetivos {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .objetivo {
    padding: 10px;
    min-height: auto;
  }

  .numero {
    width: 30px;
    height: 30px;
    font-size: 18px;
  }

  .vertical-line {
    display: none;
  }
}

/* Media Queries para pantallas de 820px en adelante */
@media only screen and (min-width: 820px) and (max-width: 1280px) {
  .fila-objetivos {
    flex-direction: row;
  }

  .objetivo {
    padding: 20px;
    min-height: 250px;
  }

  .numero {
    width: 40px;
    height: 40px;
    font-size: 20px;
  }

  .vertical-line {
    display: none;
  }
}

