html {
  scroll-behavior: smooth;
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.linea {
  width: 100%;
  height: auto;
}

.logo {
  width: 20%;
  margin: 0px 40px;
}

.logo-usuario {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px;
}

.iniciarSesion {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid rgb(73, 190, 183);
  border-radius: 10px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.iniciarSesion:hover {
  background-color: rgb(73, 190, 183);
  cursor: pointer;
}

.iniciarSesion p {
  color: rgb(8, 97, 99);
  margin-left: 7px;
  font-size: 13px;
  font-weight: 500;
  padding: 0px;
}

.icono {
  color: rgb(8, 97, 99);
  transition: color 0.3s;
}

.iniciarSesion:hover .icono{
  color: white;
}

.iniciarSesion:hover p{
  color: white;
}

.parteCentral {
  background-color: rgb(8, 95, 99);
  height: 60px;
  padding: 10px;
}

.nav-links {
  list-style: none;
  text-align: center;
  margin: 10px 0;
}

.nav-links li {
  display: inline-block;
  padding: 0px 70px;
}

.nav-links li:hover {
  transform: scale(1.3);
}

.nav-links li a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.banner-container {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)), url('./img/banner-background.png') no-repeat center center;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 10%;
}

h1 {
  font-size: 2.5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  margin: 0;
}

.subtitulo-banner {
  font-size: 1.5em;
  padding: 10px;
  color: white;
  width: auto;
}

.parrafo-banner {
  font-size: 1.2em;
  line-height: 1.6;
  margin: 0px;
  padding: 10px;
  color: white;
  letter-spacing: 2px;
  width: auto;
}

.scroll-to-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.arrow-icon {
  font-size: 30px;
  color: #49beb7;
  cursor: pointer;
  transition: color 0.3s ease;
}

.arrow-icon:hover {
  color: #d0d3d4;
}

/* Media Queries */
@media (max-width: 768px) {

  .logo {
    width: 120px;
    margin: 0 10px;
  }

  .iniciarSesion p {
    font-size: 12px;
  }

  .parteCentral {
    padding: 5px 0;
    height: auto;
  }

  .nav-links li {
    padding: 5px 15px;
  }

  .banner-container {
    padding: 50px 5%;
  }

  h1 {
    font-size: 2em;
  }

  .subtitulo-banner {
    font-size: 1.2em;
  }

  .parrafo-banner {
    font-size: 1em;
  }

  .scroll-to-top {
    margin: 20px 0;
  }

  .arrow-icon {
    font-size: 25px;
  }

}

@media (min-width: 769px) and (max-width: 1024px) {

  .nav-links li {
    padding: 10px 40px;
  }

  .banner-container {
    padding: 60px 8%;
  }

  h1 {
    font-size: 2.2em;
  }

  .subtitulo-banner {
    font-size: 1.3em;
  }

  .parrafo-banner {
    font-size: 1.05em;
  }

  .scroll-to-top {
    margin: 30px 0;
  }

  .arrow-icon {
    font-size: 30px;
  }

}