.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: #efefef;
}

.seccion-izquierda {
  text-align: left;
  flex: 1;
}

.logo {
  width: 40%;
  max-width: 300px;
  margin: 20px 0;
}

.parrafo-footer {
  font-size: 14px;
  color: #505050;
  padding: 0;
}

.seccion-derecha {
  display: flex;
  gap: 20px;
  flex: 1;
  justify-content: flex-end;
}

.icon {
  font-size: 30px;
  color: rgb(8, 95, 99);
  transition: color 0.3s;
}

.icon:hover {
  color: rgb(73, 190, 183);
}

.linea {
  width: 100%;
  height: auto;
  display: block;
}

/* Media queries para dispositivos móviles */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 20px;
  }

  .logo {
    width: 100%;
    max-width: 200px;
  }

  .seccion-derecha {
    justify-content: center;
    margin-top: 20px;
  }
}
